{% extends "base.html" %}

{% block content %}
<div style="width: 100%; text-align: center; padding: 10px 0px 0px 10px"><img style="border-radius: 15%"
                                                                              src="../static/Healthcare.jpg"
                                                                              alt="Healthcare" width="900" height="400">
    <<p><br><br></p></div>
<h1 style="color:black;" class="title">Our System</h1>
<p>Applications in the field of health have evolved with the needs of the user and their capabilities have increased.
    Accurate disease diagnosis with methods based on artificial intelligence is one of the current issues of this
    system. Apart from the diagnosis of the disease, in many cases the patient does not know which doctor he should see
    and which specialist. This confusion may lead to referrals to irrelevant specialists and a lot of wasted time.
    In this project, the healthcare system for disease diagnosis and referral to a specialist has been designed and
    prototyped using microservice architecture. The system is analyzed into small and independent services that can be
    developed and maintained in the future. In this project, you can meet your requirements using the user interface or
    the service interface using the connection program and connecting to the services. The implemented services are:
    user login and profile service, disease diagnosis and expertise service, expert search service.<br><br></p>

<h2 style="color:black;" class="title">System Design</h2>
<p>Software architecture has always been an important part of design and development. Microservices architecture, as an
    indicative style of architectural software that was created with the philosophy of separating system components into
    smaller services, provides many solutions for large design and implementation.<br><br></p>

<h3 style="color:black;" class="title">Contact Information</h3>
<p>If you have any questions or inquiries, feel free to contact us:</p>
<address>
    Email: <a href="mailto:pouyan.hessabi@gmail.com">pouyan.hessabi@gmail.com</a><br>
    Phone: <a href="tel:+989101692212">+989101692212</a>
</address>


{% endblock %}
