<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h style="color:black;" class="title">
    Healthcare System by Pouyan Hessabi
</h>
<p>
    <br/>In this project, the medical system for disease diagnosis and referral to a specialist has been designed and
    prototyped using microservice architecture. The system is divided into small and independent services in a way that
    is scalable and can be developed and maintained in the future.
    In this project, the user can interact with the program using the user interface or the service interface and solve
    his needs by connecting to the services.<br/><br/> The implemented services are: user login and profile service,
    disease diagnosis and expertise service, specialist search service.
</p>


{% endblock %}