<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<div style="width: 100%; text-align: center; padding: 10px 0px 0px 10px"><img style="border-radius: 15%"
                                                                              src="../static/Healthcare.jpg"
                                                                              alt="Healthcare" width="900" height="400">
    <<p><br><br></p></div>
<h1 class="title">
    Welcome, {{ name }}!
</h1>
{% endblock %}